#bt3 {
    -fx-text-fill: white; /* Cambia el color del texto a blanco */
    -fx-background-color: blue /* Cambia el color del fondo a negro */
}

#texto {
    -fx-text-fill: pink;
}

#Vbox{
    -fx-background-color: red;
}